<div class="container">
  <h1>Créer une Compétence</h1>
  <form [formGroup]="form">
    <fieldset>
      <legend>Création</legend>

      <mat-form-field class="formField">
        <input matInput name="nom"id="nom" formControlName="nomForm"
               placeholder="Nom" required>
      </mat-form-field>

      <br/>

      <mat-form-field class="formField">
        <mat-select class="formField" id="domaine" formControlName="domaineForm" placeholder="Domaine" required>
          <!--<option *ngFor="let domaine of domaines" [value]="domaine">{{domaine}}</option>-->
          <mat-option value="Technique">Technique</mat-option>
          <mat-option value="Fonctionnel">Fonctionnel</mat-option>
          <mat-option value="Exploitation">Exploitation</mat-option>
        </mat-select>
      </mat-form-field>

      <br/>

      <mat-form-field class="formField">
        <mat-select  id="dispositif" formControlName="dispositifForm" placeholder="Projet" required>
          <mat-option *ngFor="let dispositif of dispositifs" [value]="dispositif?.nom"></mat-option>
        </mat-select>
      </mat-form-field>

      <br/>

      <button mat-button id="boutonValider" [matMenuTriggerFor]="choix">Valider</button>
      <mat-menu #choix="matMenu">
        <button mat-menu-item (click)="create('/displayCompetence')">Valider</button>
        <button mat-menu-item (click)="create('/createCompetence')">Valider & créer une nouvelle Compétence</button>
        <button mat-menu-item (click)="create('/createRegle')">Valider & créer une Règle</button>
        <button mat-menu-item (click)="create('/createRessourcehascomeptence')">Valider & créer une Ressource liée</button>
      </mat-menu>

      <!-- On garde la version bouton classique en cas de bug lors de l'utilisation du mat-button menu

      <br/>

      <button mat-button class="buttonCreate" (click)="create('/createCompetence')">Valider & créer une nouvelle Compétence</button>

      <br/>

      <button mat-button class="buttonCreate" (click)="create('/createRegle')">Valider & créer une Règle</button>

      <br/>

      <button mat-button class="buttonCreate" (click)="create('/createRessourcehascomeptence')">Valider & créer une Ressource liée</button>
      -->

    </fieldset>
  </form>
</div>
