<div class="container">
    <h1>Créer un Organisme</h1>
    <form [formGroup]="form">
      <fieldset>
        <legend>Création</legend>

        <mat-form-field class="formField">
          <input matInput formControlName="nom" placeholder="Nom" required>
        </mat-form-field>

        <br/>

        <mat-form-field class="formField">
          <input matInput formControlName="description" placeholder="Description">
        </mat-form-field>

        <br/>

        <label>Echelle :</label>
        <mat-radio-group class="mat-radio-button" id>
          <mat-radio-button value="5">5</mat-radio-button>
          <mat-radio-button value="10">10</mat-radio-button>
        </mat-radio-group>

        <br/>

        <button mat-button id="boutonValider" [matMenuTriggerFor]="choix">Valider</button>
        <mat-menu #choix="matMenu">
          <button mat-menu-item (click)="create('/displayOrganisme')" class="btn btn-success">Valider</button>
          <button mat-menu-item (click)="create('/createOrganisme')" class="btn btn-success">Valider & créer un nouvel Organisme</button>
          <button mat-menu-item (click)="create('/createDispositif')" class="btn btn-success">Valider & créer un Projet</button>
        </mat-menu>

        <!-- On garde la version bouton classique en cas de bug lors de l'utilisation du mat-button menu

        <button type="button" (click)="create('/displayOrganisme')" class="btn btn-success">Créer Organisme</button>

        <br/>

        <button type="button" (click)="create('/createOrganisme')" class="btn btn-success">Créer Organisme et un Organisme</button>

        <br/>

        <button type="button" (click)="create('/createDispositif')" class="btn btn-success">Créer Organisme et un Projet</button>
        -->

      </fieldset>
    </form>
  </div>
