
<table>
  <caption>Liste des Regles</caption>
  <tr>
    <th>Id</th>
    <th>Nom de l'Equipe</th>
    <th>Niveau</th>
    <th>Organisme</th>
    <th>Nom de la Competence</th>
    <th>Nombre de Personne</th>
  </tr>
  <!-- boucle qui parcours tout les attributs de compétence pour pouvoir les selectionner -->
  <tr *ngFor="let regle of regles" [class.selected]="regle === selectedRegle" (click)="onSelect(regle)" tabindex="0">
    <td>{{regle.id}}</td>
    <td>{{regle.enom}}</td>
    <td>{{regle.niveau}}</td>
    <td>{{regle.organisme}}</td>
    <td>{{regle.cnom}}</td>
    <td>{{regle.nombre}}</td>
  </tr>
</table>

<button *ngIf="isSelected" (click)="edit()" tabindex="0" mat-button id="boutonColor">Modifier</button>






