<table>
  <caption> Liste des Equipes</caption>
  <tr>
    <th>Id</th>
    <th>Nom</th>
    <th>Ressources Cibles</th>
    <th>Projets</th>
  </tr>
  <!-- boucle qui parcours tout les attributs de compétence pour pouvoir les selectionner -->
  <tr *ngFor="let equipe of equipes" [class.selected]="equipe === selectedEquipe" (click)="onSelect(equipe)" tabindex="0">
    <td>{{equipe.id}}</td>
    <td>{{equipe.nom}}</td>
    <td>{{equipe.rescible}}</td>
    <td>{{equipe.dispositif}}</td>
    <!-- <app-equipe [equipe]="equipe"></app-equipe> -->
  </tr>
</table>

<button mat-button (click)="add()" id="boutonAjout">Ajouter</button>
<button mat-button [ngStyle]="{backgroundColor: getColorButton()}" [disabled]="!isSelected" (click)="edit()" id="boutonModif">Modifier</button>

