<table>
  <caption> Liste des Equipes</caption>
  <tr>
    <th>Id</th>
    <th>Nom</th>
    <th>Ressources Cibles</th>
    <th>Dispositif</th>
  </tr>
  <!-- boucle qui parcours tout les attributs de compétence pour pouvoir les selectionner -->
  <tr *ngFor="let equipe of equipes" [class.selected]="equipe === selectedEquipe" (click)="onSelect(equipe)">
    <td>{{equipe.id}}</td>
    <td>{{equipe.nom}}</td>
    <td>{{equipe.rescible}}</td>
    <td>{{equipe.dispositif}}</td>
    <!-- <app-equipe [equipe]="equipe"></app-equipe> -->
  </tr>
</table>

<button *ngIf="isSelected" (click)="edit()">Modifier</button>
