

<table class="table-editable">
  <caption>Liste des Competences</caption>
  <tr>
    <th>Nom</th>
    <th>Domaine</th>
  </tr>
  <!-- boucle qui parcours tout les attributs de compétence pour pouvoir les selectionner -->
  <tr *ngFor="let competence of competences" [class.selected]="competence === selectedComeptence" (click)="onSelect(competence)" tabindex="0">
    <td>{{competence.nom}}</td>
    <td>{{competence.domaine}}</td>
    <!--<app-competence [competence]="competence"></app-competence>-->
  </tr>
</table>

<button mat-button (click)="add()" id="boutonAjout">Ajouter</button>
<button mat-button [ngStyle]="{backgroundColor: getColorButton()}" [disabled]="!isSelected" (click)="edit()" id="boutonModif">Modifier</button>
<button mat-button [ngStyle]="{backgroundColor: getColorButton()}" [disabled]="!isSelected" (click)="delete()" id="boutonSuppr">Supprimer</button>



