<table>
  <caption>Liste des Ressources</caption>
  <tr>
    <th>Id</th>
    <th>Nom</th>
    <th>Prenom</th>
    <th>Reference Client</th>
    <th>Equipe</th>
    <th>Organisme</th>
    <th>Projet</th>
  </tr>
  <!-- boucle qui parcours tout les attributs de compétence pour pouvoir les selectionner -->
  <tr *ngFor="let ressource of ressources" [class.selected]="ressource === selectedRessource" (click)="onSelect(ressource)" tabindex="0">
    <td>{{ressource.id}}</td>
    <td>{{ressource.nom}}</td>
    <td>{{ressource.prenom}}</td>
    <td>{{ressource.referenceClient}}</td>
    <td>{{ressource.equipe}}</td>
    <td>{{ressource.organisme}}</td>
    <td>{{ressource.dispositif}}</td>
  </tr>
</table>

<button mat-button (click)="add()" id="boutonAjout">Ajouter</button>
<button mat-button [ngStyle]="{backgroundColor: getColorButton()}" [disabled]="!isSelected" (click)="edit()" id="boutonModif">Modifier</button>
