<table>
  <caption>Liste des Ressources</caption>
  <tr>
    <th>Id</th>
    <th>Nom</th>
    <th>Prenom</th>
    <th>Reference Client</th>
    <th>Equipe</th>
    <th>Organisme</th>
    <th>Projet</th>
    <th>Actif ?</th>
    <th>Date d'entrée dans l'équipe</th>
    <th>Date de sortie de l'équipe</th>
  </tr>
  <!-- boucle qui parcours tout les attributs de compétence pour pouvoir les selectionner -->
  <tr *ngFor="let rh of list" [class.selected]="rh === selectedRH" (click)="onSelect(rh)" tabindex="0">
    <td>{{rh.ressource.id}}</td>
    <td>{{rh.ressource.nom}}</td>
    <td>{{rh.ressource.prenom}}</td>
    <td>{{rh.ressource.referenceClient}}</td>
    <td>{{rh.ressource.equipe}}</td>
    <td>{{rh.ressource.organisme}}</td>
    <td>{{rh.ressource.dispositif}}</td>
    <td>{{rh.historique.actif}}</td>
    <td>{{rh.historique.dateentree}}</td>
    <td>{{rh.historique.datesortie}}</td>
  </tr>
</table>

<button mat-button (click)="add()" id="boutonAjout">Ajouter</button>
<button mat-button [ngStyle]="{backgroundColor: getColorButton()}" [disabled]="!isSelected" (click)="edit()" id="boutonModif">Modifier</button>
