<div class="container">
    <h1>Créer un Projet</h1>
    <form [formGroup]="form">
      <fieldset>
        <legend>Création</legend>

        <mat-form-field class="formField">
          <input matInput formControlName="nom" placeholder="Nom" required>
        </mat-form-field>

        <mat-form-field class="formField">
          <mat-select id="organisme" formControlName="organisme" placeholder="Organisme" required>
            <mat-option *ngFor="let organisme of organismes" [value]="organisme?.organisme">{{organisme.organisme}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="formField">
          <textarea matInput formControlName="description" placeholder="Description"></textarea>
        </mat-form-field>

        <br/>

        <h3>Compétences Techniques</h3>
        <mat-form-field class="example-chip-list">
          <mat-chip-list #chipList aria-label="Competence selection">
            <mat-chip
              *ngFor="let competence of competencesT"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="removeT(competence)">
              {{competence}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
              #competenceInputT
              [formControl]="competenceTCtrl"
              [matAutocomplete]="autoT"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="addT($event)">
          </mat-chip-list>
          <mat-autocomplete #autoT="matAutocomplete" (optionSelected)="selectedT($event)">
            <mat-option *ngFor="let competence of filteredCompetencesT | async" [value]="competence">
              {{competence}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <br/>

        <h3>Compétences Fonctionnelles</h3>
        <mat-form-field class="example-chip-list">
          <mat-chip-list #chipList aria-label="Competence selection">
            <mat-chip
              *ngFor="let competence of competencesF"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="removeF(competence)">
              {{competence}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
              #competenceInputF
              [formControl]="competenceFCtrl"
              [matAutocomplete]="autoF"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="addF($event)">
          </mat-chip-list>
          <mat-autocomplete #autoF="matAutocomplete" (optionSelected)="selectedF($event)">
            <mat-option *ngFor="let competence of filteredCompetencesF | async" [value]="competence">
              {{competence}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <br/>

        <h3>Compétences d'éxploitation</h3>
        <mat-form-field class="example-chip-list">
          <mat-chip-list #chipList aria-label="Competence selection">
            <mat-chip
              *ngFor="let competence of competencesE"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="removeE(competence)">
              {{competence}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
              #competenceInputE
              [formControl]="competenceECtrl"
              [matAutocomplete]="autoE"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="addE($event)">
          </mat-chip-list>
          <mat-autocomplete #autoE="matAutocomplete" (optionSelected)="selectedE($event)">
            <mat-option *ngFor="let competence of filteredCompetencesE | async" [value]="competence">
              {{competence}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <br/>

        <button mat-button id="boutonValider" [matMenuTriggerFor]="choix">Valider</button>
        <mat-menu #choix="matMenu">
          <button mat-menu-item (click)="create('/displayDispositif')">Valider</button>
          <button mat-menu-item (click)="create('/createEquipe')">Valider & créer une Equipe</button>
          <button mat-menu-item (click)="create('/createCompetence')">Valider & créer une Compétence</button>
        </mat-menu>

        <!-- On garde la version bouton classique en cas de bug lors de l'utilisation du mat-button menu

        <button type="button" class="btn btn-success" (click)="create('/displayDispositif')">Créer Projet</button>
        <br/>
        <button type="button" class="btn btn-success" (click)="create('/createEquipe')">Créer Projet et Equipe</button>
        <br/>
        <button type="button" class="btn btn-success" (click)="create('/createCompetence')">Créer Projet et Compétence</button>

        -->


      </fieldset>
    </form>
  </div>
