<div class="container">
    <h1>Modifier une Compétence liée</h1>
    <form [formGroup]="form">
            <section class="actuel">
                    <div class="form-group">
                      <label for="competence">Competence:</label>
                      <span class="competence">{{dispositifhascompetence?.competence}}</span>
                    </div>
                    <div class="form-group">
                      <label for="dispositif">Dispositif:</label>
                      <span class="dispositif">{{dispositifhascompetence?.dispositif}}</span>
                    </div>
                  </section>
    <section class="nouvelle">
      <div class="form-group">
        <label for="competence">Competence:</label>
        <select class="form-control" id="competence" formControlName="competenceForm" required>
          <option *ngFor="let competence of competences" [ngValue]="competence">{{competence.nom}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="dispositif">Dispositif:</label>
        <select class="form-control" id="dispositif" formControlName="dispositifForm" required>
          <option *ngFor="let dispositif of dispositifs" [ngValue]="dispositif">{{dispositif.nom}}</option>
        </select>
      </div>
    </section>
      <button type="button" class="btn btn-success" (click)="update()">Modifier Projet</button>
    </form>
  </div>
