<div class="container">
    <h1>Modifier une équipe</h1>
    <form [formGroup]="form" >
      <fieldset>
        <legend>Modification</legend>

        <mat-form-field class="formField">
          <input matInput class="mat-form-field" id="nom" formControlName="nom" placeholder="Nom" [value]="equipe?.nom" required>
        </mat-form-field>

        <br>

        <mat-form-field class="formField">
          <input matInput class="form-control" value="1" formControlName="rescible" placeholder="Nombre supérieur à 0" required>
        </mat-form-field>

        <br>

        <mat-form-field class="formField">
          <mat-select class="form-control" id="dispositif" formControlName="dispositif"  placeholder="Projet" required>
            <mat-option *ngFor="let dispositif of dispositifs" [value]="dispositif?.nom"></mat-option>
          </mat-select>
        </mat-form-field>

        <br>

        <button mat-button class="formField" (click)="update()" id="boutonValider">Valider</button>

      </fieldset>

</form>
  </div>
