<div class="container">
    <h1>Créer une Evaluation</h1>
    <form [formGroup]="form">
      <fieldset>
        <legend> Création </legend>

        <mat-form-field class="formField">
          <mat-select  id="competence" formControlName="competenceForm" placeholder="Compétence" required>
            <mat-option *ngFor="let competence of competences" [value]="competence">{{competence.nom}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="formField">
          <mat-select id="ressource" formControlName="ressourceForm" placeholder="Ressource" required>
            <mat-option *ngFor="let ressource of ressources" [value]="ressource">{{ressource.nom}} {{ressource.prenom}}, {{ressource.equipe}}</mat-option>
          </mat-select>
        </mat-form-field>

        <br/>

        <mat-form-field class="formField">
          <input matInput id="niveau" formControlName="niveauForm" placeholder="Niveau" required>
        </mat-form-field>

        <br/>

        <mat-form-field class="formFieldDate">
          <input matInput [matDatepicker]="piker"  placeholder="Date" formControlName="dateEvolForm">
          <mat-datepicker-toggle matSuffix [for]="piker"></mat-datepicker-toggle>
          <mat-datepicker #piker></mat-datepicker>
        </mat-form-field>

        <br/>

        <button mat-button id="boutonValider" [matMenuTriggerFor]="choix">Valider</button>
        <mat-menu #choix="matMenu">
          <button mat-menu-item (click)="create('/displayRessourcehascompetence')">Valider</button>
          <button mat-menu-item (click)="create('/createRessourcehascompetence')">Valider & créer une nouvelle Ressource liée</button>
          <button mat-menu-item (click)="create('/createRegle')">Valider & créer une Règle</button>
        </mat-menu>

        <!--

        <button type="button" class="btn btn-success" (click)="create('/displayRessourcehascompetence')">Créer Ressource liée</button>
        <br/>
        <button type="button" class="btn btn-success" (click)="create('/createRessourcehascompetence')">Créer Ressource liée et créer une nouvelle Ressource liée</button>
        <br/>
        <button type="button" class="btn btn-success" (click)="create('/createRegle')">Créer Ressource liée et Règle</button>

        -->

      </fieldset>
    </form>
  </div>
  
