 <table>
  <caption>Liste des Projets</caption>
  <tr>
    <th>Nom</th>
    <th>Organisme</th>
    <th>Description</th>
  </tr>
  <!-- boucle qui parcours tout les attributs du component pour pouvoir les selectionner -->
  <tr *ngFor="let dispositif of dispositifs" [class.selected]="dispositif === selectedDispositif" (click)="onSelect(dispositif)" tabindex="0">
    <td>{{dispositif.nom}}</td>
    <td>{{dispositif.organisme}}</td>
    <td>{{dispositif.description}}</td>
    <!--<app-dispositif [dispositif]="dispositif"></app-dispositif>-->
  </tr>
</table>

 <button mat-button (click)="add()" id="boutonAjout">Ajouter</button>
 <button mat-button [ngStyle]="{backgroundColor: getColorButton()}" [disabled]="!isSelected" (click)="edit()" id="boutonModif">Modifier</button>

