fieldset {
  margin-bottom: 15px;
  padding: 10px;
}

legend {
  padding: 0px 3px;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  font-variant: small-caps;
}

label {
  width: 110px;
  display: inline-block;
  vertical-align: top;
  margin: 6px;
}

.mat-formPerso {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-left: 6px;
}

#boutonValider{
  background-color: #316195;
  color: white;
  font-family: Verdana, serif;
  margin-top: 6px;
  width: 150px;
}

.spaceTab{
  border: none;
}

.mat-radio-button {
  margin-left: 16px;
}
 #formFieldLength {
   width: 100%;
 }

 .formField{
   margin-left: 6px;
 }

.formFieldDate {
  width: 13%;
  margin-left: 6px;
}

.buttonCreate {
  background-color: #316195;
  color: white;
  font-family: Verdana, serif;
  width: auto;
  margin-top: 10px;
  margin-left: 6px;
}

