<div class="container">
    <h1>Modifier une Règle</h1>
    <form [formGroup]="form">
      <fieldset>
        <legend>Modification</legend>
        <section class="nouveau">

          <table class="spaceTab"><tr>
            <td><mat-form-field class="form-group">
              <mat-label>Competence</mat-label>
              <mat-select class="form-control" id="competence" formControlName="competence">
                <mat-option *ngFor="let competence of competences">{{competence.nom}}</mat-option>
              </mat-select>
            </mat-form-field></td>
            <td><mat-form-field class="form-group">
              <mat-label>Equipe</mat-label>
              <mat-select class="form-control" id="equipe" formControlName="equipe" required>
                <mat-option *ngFor="let equipe of equipes">{{equipe.nom}}</mat-option>
              </mat-select>
            </mat-form-field></td>
            <td><mat-form-field class="form-group">
              <mat-label>Niveau</mat-label>
              <mat-select class="form-control" formControlName="niveau" required>
                <mat-option [value]="1">1</mat-option>
                <mat-option [value]="2">2</mat-option>
                <mat-option [value]="3">3</mat-option>
                <mat-option [value]="4">4</mat-option>
                <mat-option [value]="5">5</mat-option>
              </mat-select>
            </mat-form-field></td>
          </tr></table>

          <p>
            <mat-radio-group class="ui-radiobutton">
              <label> En rapport avec une moyenne: </label>
              <mat-radio-button class="form-control" id="moyenneOui" formControlName="moyenne" value=true>Oui</mat-radio-button>
              <mat-radio-button class="form-control" id="moyenneNon" formControlName="moyenne" value=false>Non</mat-radio-button>
            </mat-radio-group>
          </p>

          <table>
            <tr><mat-form-field class="form-group">
              <textarea matInput class="form-control" formControlName="pourcentage" maxlength="2" value="50"
                     placeholder="Pourcentage du nombre de ressources pour respecter la règle" required></textarea>
            </mat-form-field></tr>

            <tr><td><mat-form-field class="form-group">
              <textarea matInput class="form-control" id="nombre" formControlName="nombre"
                        placeholder="Nombre de ressources devant respecter la règle"></textarea>
            </mat-form-field></td></tr>
          </table>

        </section>
        <button mat-button class="bouton" (click)="update()" id="boutonValider">Valider</button>
      </fieldset>
    </form>
  </div>
